/* CSS Variables */
:root {
    --primary: #5895e763;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: radial-gradient(#97bc1580, #4293ff59);
    margin: 30px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    max-width: 100px;
    max-height: 30px;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-gap: .3rem;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    grid-auto-flow: row;
    margin-left: 8%;
}

/* Navigation */
.main-nav {
    display: grid;
    align-items: center;
    grid-auto-rows: auto;
    position: fixed;
    grid-row: 1 / 9;
    grid-column: 1;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 6;
}

/* Showcase */
.showcase {
    min-height: 400px;
    background: url(./img/bannerFC.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    grid-auto-flow: column;
    justify-content: center;
    box-shadow: var(--shadow);
    grid-row: 1 / 3;
    grid-column: 1 / 5;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
}

.showcase p {
    font-size: 2.5rem;
    margin-top: 0;
    color: var(--light);
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
}

/* Top Box */
.top-box {
    background: var(--primary);
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-row: 1;
    grid-column: 5;
    text-align: center;
}

.top-box-b {
    grid-row: 2;
    grid-column: 5;
    text-align: center;
}

/* Activity */
.activity {
    grid-row: 3;
    grid-column: 2 / 6;
    margin: 2% 0 0 0;
}

.activity h2 {
    display: grid;
    grid-gap: 20px;
    grid-row: 3;
    grid-column: 2 / 6;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 1%;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-row: 4;
    grid-auto-flow: column;
    grid-column: 2 / 6;
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: var(--shadow);
    position: relative;
}

.overlay {
    position: absolute;
    top: 3%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.news:hover .overlay {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-size: cover;
    background-position: center;
    justify-content: center;
    box-shadow: var(--shadow);
    box-shadow: 5px 5px 10px black;
}

.play:hover .overlay {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-size: cover;
    background-position: center;
    justify-content: center;
    box-shadow: var(--shadow);
    box-shadow: 5px 5px 10px black;
}

.share:hover .overlay {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-size: cover;
    background-position: center;
    justify-content: center;
    box-shadow: var(--shadow);
    box-shadow: 5px 5px 10px black;
}

.games:hover .overlay {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-size: cover;
    background-position: center;
    justify-content: center;
    box-shadow: var(--shadow);
    box-shadow: 5px 5px 10px black;
}

/* About */
.about {
    grid-row: 5;
    grid-column: 2 / 6;
    margin: 2% 0 0 0;
}

.about h2 {
    display: grid;
    grid-gap: 20px;
    grid-row: 5;
    grid-column: 2 / 6;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 1%;
}

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-row: 6;
    grid-column: 2 / 6;
    padding: 3rem;
    grid-auto-flow: column;
    margin: 2% 0;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-row: 7;
    grid-column: 2 / 6;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.portfolio img {
    min-width: 300px;
    box-shadow: var(--shadow);
    display: grid;
    grid-auto-flow: row;
}

.portfolio img:hover {
    transform: scale(1.6);
    opacity: 1;
    transition: all .3s ease-in-out;
    box-shadow: 3px 3px 10px black;
}

.portfolio h2 {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    text-align: center;
    margin-top: 40%;
    font-size: 3rem;
    font-weight: bold;
}

/* Contact */
.contact {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-row: 8;
    grid-column: 2 / 6;
    padding: 3rem;
    grid-auto-flow: column;
    margin-top: 3%;
}

/* Footer */
footer {
    margin-top: 2rem;
    background: #5895e763;
    color: var(--dark);
    text-align: center;
    padding: 1rem;
    display: grid;
    grid-gap: 20px;
    grid-row: 9;
    grid-column: 2 / 6;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 700px) {
    .top-container {
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .top-container {
        grid-template-areas:
            'showcase'
            'top-box-a'
            'top-box-b';
    }
}
